*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bfe-notes-project.iml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
bfe-notes-project.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
